.footer {
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;


    grid-area: 4 / 2 / span 1 / span 1;
    margin: 0 auto;
    /* border: 2px dashed black; */
  background-color: white;
box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.53);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(255, 255, 136);
  width: 50%;
    border-top: #0a0a0a7f solid 1px;
  border-left: #0a0a0a7f solid 1px;
  border-right: #0a0a0a7f solid 1px;
}

.link {
  color: darkblue;
  /* border: 2px dashed black; */
  padding: 1rem;
  background-color: #bae8e8;
  border-radius: 20px;
  width: auto;
  margin: .5rem;
}

.link:hover{
background-color: #9ed2d2;;
/* border: 3px solid black;
box-sizing: border-box; */
/* box-shadow: 5px 5px; */
color: black;
}

@media screen and (max-width: 900px) {
.footer {
    /* grid-area: 1 / 2 / span 1 / span 1; */
    width: auto;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 1rem; */
}
}