.link {
  color: darkblue;
  /* border: 2px dashed black; */
  padding: 1rem;
  background-color: #bae8e8;
  border-radius: 20px;
}

.nav {
  grid-area: 2 / 2 / span 1 / span 1;
  /* border: 2px dashed black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: white; */
  /* box-shadow: 10px 10px; */
  width: 50%;
  margin: 0 auto;
  z-index: 2;
}

.link:hover{
background-color: #9ed2d2;
/* background-color: rgb(255, 255, 136); */
/* border: 3px solid black;
box-sizing: border-box; */
/* box-shadow: 5px 5px; */
color: black;
}