@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
  width: auto;

  color: #272343;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.main {
  grid-area: 2 / 2 / span 1 / span 1;
  background-color: white;
  border: 2px dashed black;
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.postsBox {
  width: 90%;
}

.posts {
  border: 2px dashed black;
  margin: 1rem;
  background-color: rgb(255, 255, 136);
  box-shadow: 10px 10px;
  padding: 1rem;
}

.caseStudyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 136);
  border: 2px dashed black;
  box-shadow: 10px 10px;
  padding: 1rem;
}

/* You can also have CSS modules to style your components */
